*{
    margin: 0px;
    padding: 0px;
}
body{
    
}
h1{
    justify-content: center;
    text-align: center;
    margin: 0px 0px 0px 0px;
}
h4{
    justify-content: center;
    text-align: center;
}
div{
    position: absolute;
    top: 30%;
    left: 40%;
    justify-content: center;
    margin: auto;
    text-align: center;

}